body {
  background: linear-gradient(to bottom, #0b817b, #6c88d6, #75ecf0);
}

/* Pagina principal */

.indx {
  background-image: url("../src/img/giphy\ cuento.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}

.center-section {
  width: 80%;
  max-width: 800px;
  background-color: #f5f5f500;
  padding: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px -1px 22px 4px rgba(255, 255, 255, 0);
  -moz-box-shadow: 0px -1px 22px 4px rgba(255, 255, 255, 0);
  box-shadow: 0px -1px 22px 4px rgba(255, 255, 255, 0);
  font-family: "Pacifico", cursive;
}

.center-section h1 {
  font-size: 45px;
  font-weight: bold;
  color: rgb(0, 217, 255);
  font-stretch: wider;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#parpadeo {
  animation: parpadeo 2s infinite;
  color: aliceblue;
  font-family: "Pacifico", cursive;
  text-align: center;
  width: 100%;
  object-position: center;
}

/* Pagina Creacion */

.contenedor-opciones {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  gap: 15px;
}

.crear h1 {
  text-align: center;
  font-size: 40px;
  font-family: "Pacifico", cursive;
  font-style: bold;
}

.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  cursor: pointer;
}

input[type="checkbox"]::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f111";
  font-size: 20px;
  color: var(--blanco);
  right: 10px;
  top: -5px;
}

input[type="checkbox"]:checked::after {
  font-weight: 900;
  content: "\f058";
  font-size: 20px;
  color: var(--azul);
}

.cont img {
  width: 75%;
  max-width: 512px;
  margin: 12px;
  cursor: pointer;
}

.cont p {
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  font-family: "Pacifico", cursive;
}

.confirmar {
  display: flex;
  justify-content: center;
}

.boton {
  background-color: #0b817b;
  font-size: 30px;
  color: #f5f5f5;
  text-decoration: none;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  text-align: center;
}
.boton:hover {
  cursor: pointer;
}

/* Pagina cuenta cuento */

.fondo-cuento {
  background-image: url("../src/img/giphy-fondo.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.volver {
  display: flex;
  justify-content: center;
  margin-top: -150px;
}

.boton-volver {
  background-color: #0b817b;
  font-size: 30px;
  color: #f5f5f5;
  text-decoration: none;
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.boton-volver:hover {
  cursor: pointer;
}
